.title {
	text-align: center; margin-bottom: 0;
	font-size: 50px;
	color: rgb(133, 14, 14);
	font-style: serif;
	font-weight: bold;
	font-variant: large-caps
}
html

{

background: url(img/WonderlandHair.jpg) no-repeat center center fixed;

-webkit-background-size: cover;

-moz-background-size: cover;

-o-background-size: cover;

background-size: cover;

}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}


nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}


* {
  font-family: Arial, Helvetica, sans-serif;
}
.hair {
  column-count: 2; 
  column-count: 2; 
  column-count: 2;

    width: 400px;
    height: 400px;
}


 .row{
   width: auto;
  
}
.row:after {
   content: "";
   display: table;
   clear: both;
}

[class*='col-'] {
    float: left;
    background-color: #64c6bb;
    padding:10px;
    

   
 }

.col-1 {
    width: 8.33%
 }

 .col-2{
   width: 16.66%;
  
}

.col-3{
   width: 25%;
  
}

.col-4{
   width: 33.33%;
   
}

.col-5{
   width: 41.66%;
}

.col-6{
   width: 50%;
}

.col-7{
   width: 58.33%;
}

.col-8{
   width: 66.66%;
}

.col-9{
   width: 75%;
}

.col-10{
   width: 83.33%;
  
}
.col-11{
   width: 91.66%;
}

.col-12{
   width: 100%;
}

