<h1>{{title}}</h1>

<nav>
  <a routerLink="/dashboard">Home</a>
  <a routerLink="/hairs">Search</a>
</nav>

<p style="color:#0e6e1ef3; text-align:center;"> Welcome to Wonderland Hair!</p> <p>We appreciate you visiting and hope that all your hairstyle 
    and color decisions are influenced by what you are able to find here.</p>
    <p>Wonderland Hair was created with the hair client in mind. 
      We created it to help you determine what style you are truly looking for.
       Once you find the style you like, you can now take it to you stylist to copy that look! 
       Search through all our short haircuts, medium length cuts, long haircuts, 
       hair colors and up-do styles. </p>
    <p>Never live in confusion again when sitting in the stylist’s chair. 
      Always be prepared with Wonderland Hair.</p>
      
        <router-outlet></router-outlet>
    
<app-messages></app-messages>
